@font-face {
  font-family: 'Platform';
  src: url('PlatformLCWeb-Medium.eot?#iefix') format('embedded-opentype'), 
	url('PlatformLCWeb-Medium.woff') format('woff'), 
	url('PlatformLCWeb-Medium.ttf')  format('truetype'),
	url('PlatformLCWeb-Medium.svg#PlatformLCWeb-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Platform';
  src: url('PlatformLCWeb-Regular.eot?#iefix') format('embedded-opentype'),  
  url('PlatformLCWeb-Regular.woff') format('woff'), 
  url('PlatformLCWeb-Regular.ttf')  format('truetype'), 
  url('PlatformLCWeb-Regular.svg#PlatformLCWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Platform';
  src: url('PlatformLCWeb-Light.eot?#iefix') format('embedded-opentype'),  
  url('PlatformLCWeb-Light.woff') format('woff'), 
  url('PlatformLCWeb-Light.ttf')  format('truetype'), 
  url('PlatformLCWeb-Light.svg#PlatformLCWeb-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
    font-family: 'Graphik LCG';
    font-display: swap;
    src: url('GraphikLCG-Medium.eot');
    src: local('Graphik LCG Medium'), local('GraphikLCG-Medium'),
        url('GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
        url('GraphikLCG-Medium.woff2') format('woff2'),
        url('GraphikLCG-Medium.woff') format('woff'),
        url('GraphikLCG-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    font-display: swap;
    src: url('GraphikLCG-Regular.eot');
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
        url('GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('GraphikLCG-Regular.woff2') format('woff2'),
        url('GraphikLCG-Regular.woff') format('woff'),
        url('GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    font-display: swap;
    src: url('../fonts/GraphikLCG-Semibold.eot');
    src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
        url('../fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('../fonts/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'Gropled';
  font-display: swap;
  src: url('Gropled-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Nizhegorodsky';
    src: 
	url('ST-Nizhegorodsky.woff') format('woff'), 
	url('ST-Nizhegorodsky.woff2') format('woff2'), 
	url('ST-Nizhegorodsky.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

